
.color{
    color: rgb(248, 70, 64);
    font-weight: bold;
}

:root {
    --color-primary: rgb(248, 70, 64);
  }

ul{
    list-style-type: none;
}

.souhlas{
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  ::-webkit-scrollbar {
    width: 7px;
    /* for vertical scrollbars */
    height: 7px;
    /* for horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track {
    background: #212227;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    height: 10px;
  }
  
  ::-webkit-scrollbar-track-piece {
    height: 30px;
  }